*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

#cartoon{
    background-image: url("images/360_F_118451908_PamYeslLwOjFNag4CMcEFLmyK7LIXvdm.jpeg");
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#strange-cartoon{
    transform: translateY(33%);
    z-index: 2;
    height: 60vh;
    width: 40vw;
    margin-left: 1vw;
    mix-blend-mode: luminosity;
}

#strange-cartoon img{
    width: 100%;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

#titulo-cartoon{
    transform: translateY(-67.5%);
    width: 80vw;
    height: 65vh;
    mix-blend-mode: darken;
}


#titulo-cartoon img{
    width: 100%;
    height: 100%;
}